@model IEnumerable<FinalPtoject.Models.report>

@{
    ViewData["Title"] = "report";
}

<h1>report</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
                <td>

                    <a asp-action="report" asp-route-id="@item.Id">Details</a>

                </td>
        </tr>
}
    </tbody>
</table>
