@model IEnumerable<FinalPtoject.Models.Report>

@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>

<p>
    <a asp-action=""></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
           
            <th>
                <p>Detail </p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>
                    <a asp-action="orderdetail" asp-route-id="@item.Id">View</a>


                </td>
            </tr>
        }
    </tbody>
</table>